<meta name="viewport" content="width=816px, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

<style type="text/css">

/* everything */
* {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

	text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	max-height: 999999px;

	border-collapse: collapse;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

body {
	width: 768px;
	margin: 24px;
	line-height: 18px;
}

@media print {
	body {margin: 0;}
	tr {page-break-inside: avoid;}
}

@page {
   margin: .25in;
   size: Letter portrait;
}

.highlight:hover {
	background-color: #DDD;
}

a {
	color: inherit;
	text-decoration: inherit;
}
td a {
	display: block;
	height: 100%;
	width: 100%;
}
a:hover {
	background-color: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 0;
	padding-top: 0;
}
tr {
	margin-top: 0;
	padding-top: 0;
}
td {
	vertical-align: top;
	margin-top: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.padright {
	padding-right: 6px;
}

.name {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 20px;
}

/* category */
h2 {
	text-align:center;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 12px;
}

/* contact info */
h3 {
	text-align: center;
	margin-bottom: 8px;
}

/* right alignment */
table right {
	float: right;
}

</style>

