<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

<style type="text/css">

/* everything */
* {
	font-family: 'Open Sans', sans-serif;
	font-size: 9.5pt;

	text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	max-height: 999999pt;

	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

body {
	min-width: 576pt;
	max-width: 576pt;
	padding-top: 18pt;
	padding-bottom: 18pt;
	padding-left: 18pt;
	padding-right: 18pt;
	line-height: 15pt;
}

@media print {
	body {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

@page {
   margin: 18pt;
   size: portrait;
}

.highlight:hover {
	background-color: #DDD;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 0;
	padding-top: 0;
}
tr {
	margin-top: 0;
	padding-top: 0;
}
td {
	vertical-align: top;
	margin-top: 0;
	padding-top: 0;
}

.padright {
	padding-right: .5em;
}

td hr {
	height: .64em;
	visibility: hidden;
	margin: 0;
}

.name {
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 1.2em;
}

/* category */
h2 {
	font-size: 1em;
	text-align:center;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .7em;
}
h2:hover {
	background-color: #DDD;
}

/* contact info */
h3 {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin-bottom: .4em;
}

/* horizontal lines */
hr {
	height: .1em;
	background-color: #000;
	border: none;
	margin-top: .5em;
	margin-bottom: .5em;
}

/* right alignment */
table right {
	float: right;
}
/* indent (i## indicates ##% */
p i05 {
	position: absolute;
	left: 5%;
}
p i10 {
	position: absolute;
	left: 10%;
}
p i15 {
	position: absolute;
	left: 15%;
}
p i20 {
	position: absolute;
	left: 20%;
}
p i25 {
	position: absolute;
	left: 25%;
}
p i30 {
	position: absolute;
	left: 30%;
}
p i35 {
	position: absolute;
	left: 35%;
}
p i40 {
	position: absolute;
	left: 40%;
}
p i45 {
	position: absolute;
	left: 45%;
}
p i50 {
	position: absolute;
	left: 50%;
}
p i55 {
	position: absolute;
	left: 55%;
}
p i60 {
	position: absolute;
	left: 60%;
}
p i65 {
	position: absolute;
	left: 65%;
}
p i70 {
	position: absolute;
	left: 70%;
}
p i75 {
	position: absolute;
	left: 75%;
}
p i80 {
	position: absolute;
	left: 80%;
}
p i85 {
	position: absolute;
	left: 85%;
}
p i90 {
	position: absolute;
	left: 90%;
}
p i95 {
	position: absolute;
	left: 95%;
}

</style>

